@media (max-width: 480px) {
  /* Most Android phones */
  .neo-player .seek{
      display: none;      
  }
  .controls{
      gap:5px;
  }
  .time{
      font-size: 15px;
  }
   .smallplaybtnicon{
      font-size: 15px;
  }
  .fullscreenbtnicon{
      font-size: 15px;
  }
}

@media (max-width: 575px) {
  /* iPhone SE, small smartphones */
  .neo-player .seek{
      display: none;
  }
    .controls{
      gap:5px;
  }
   .time{
      font-size: 15px;
  }
 .smallplaybtnicon{
      font-size: 15px;
  }
  .fullscreenbtnicon{
      font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Phones in landscape mode */
   .smallplaybtnicon{
      font-size: 15px;
  }
  .fullscreenbtnicon{
      font-size: 15px;
  }
  .bottom-sheet{
      width: auto;
      height: 70%;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  /* iPad mini, Galaxy Tab */
    .bottom-sheet{
      width: auto;
      height: 70%;
  }
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* iPad Pro, large tablets */
}

@media (min-width: 1200px) and (max-width: 1365px) {
  /* 13" laptops */
}

@media (min-width: 1366px) and (max-width: 1599px) {
  /* 15" laptops */
}

@media (min-width: 1600px) and (max-width: 1919px) {
  /* Full HD screens */
}

@media (min-width: 1920px) {
  /* 4K, ultra-wide monitors */
}
@media (orientation: portrait) {
  /* Portrait mode */
}

@media (orientation: landscape) {
  
  /* Landscape mode */
}
@media (hover: hover) {
  /* Mouse devices */
}

@media (hover: none) {
  /* Touch devices */
}
.neo-player:fullscreen .bottom-sheet{
  background:rgb(0,0,0,0.6);
  position: absolute;
}
.neo-player:-webkit-full-screen .bottom-sheet{
  background:rgb(0,0,0,0.6);
  position: absolute;
}
