* {
  -webkit-tap-highlight-color: transparent;
}
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge */
* {
  -ms-overflow-style: none;
}

.neo-player {
  position: relative;
  max-width: 900px;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  font-family: system-ui;
  color: #fff;
  z-index: 0;
  aspect-ratio:16 /9 ;
}

.neo-player .video-warp{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.neo-player video {
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  z-index: -1;
}

.neo-player video.fill{
  object-fit: cover;
  object-position: center center;
}

.neo-player .thumb-warp{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 0;
    pointer-events: none;
    background: transparent; 
}

.neo-player .thumb-warp .hide{
    display: none;
}

.neo-player .thumb-warp img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.neo-player .controlshandlelayer{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    inset: 0;
    pointer-events: none;
}

.neo-player .maincontrols{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
}

.neo-player .maincontrols span{
   /* background: transparent;*/
    border-radius: 50%;
    padding: 5px;
    outline: none;
  user-select: none;
  -webkit-user-select: none;
}
.neo-player .maincontrols span::focus,
.neo-player .maincontrols span::active{
    outline: none;
  background: transparent;
}
.icon,
.icon * {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
}

.icon:focus,
.icon:active {
  outline: none;
  background: transparent;
}

.neo-player .maincontrols .replay10btn{
    font-size: 24px;
    font-weight: ;
}

.neo-player .maincontrols .mainplaybtn{
    font-size: 50px;
    font-weight: 800;
}

.neo-player .maincontrols .forward10btn{
    font-size: 24px;
}


.neo-player .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
  z-index: 3;
}

.neo-player .sublayer{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    z-index: 2;
    pointer-events: none;
}
.neo-player .loaderlayer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 0;
    background: transparent;
    pointer-events: none;
}
.neo-player .sublayer .subtitle{
    text-align: center;
    line-break: auto;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 20px;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     background: transparent;
     font-weight: 500;
}

.neo-player .skipDV{
    position: absolute;
    width: auto;
    height: auto;
    bottom: 50px;
    right: 10px;
    background: rgb(0,0,0,0.4);
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid rgb(225,225,225,0.4);
    display: none;
    z-index: 4;
    font-size: 12px;
}

.neo-player .allcontrols{
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  
}

/* visible state */
.neo-player.show-controls .allcontrols {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.neo-player button,
.neo-player select,
.neo-player input {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.neo-player .seek,
.neo-player .volume {
  flex: 1;
}

.neo-player.light {
  background: #f4f4f4;
  color: #000;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 18
}
.material-symbols-rounded{
    font-size: 18px;
}
.material-symbols-rounded .smallplaybtnicon{
      font-size: 12px;
  }
.material-symbols-rounded  .fullscreenbtnicon{
      font-size: 12px;
  }
  
.g-loader-ct{
  position:relative;
  width:100;
  height:100%;
  pointer-events: none;
  background: transparent;
}
.g-loader-wrap {
  width:100%;
  height:100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
}

.g-loader-svg {
  width: 48px;
  height: 48px;
  animation: g-rotate 1.4s linear infinite;
}

.g-loader-circle {
  fill: none;
  stroke: #4da3ff;
  stroke-width: 3.5;
  stroke-linecap: round;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: g-dash 1.4s ease-in-out infinite;
}

/* Rotation */
@keyframes g-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Arc length animation */
@keyframes g-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: -125;
  }
}

.circle-icon {
  box-shadow:
    1px 2px 6px rgba(0,0,0,.4),
    0 0 14px rgba(0,0,0,.4);
  background: rgb(0,0,0,0.4);
}

/*".circle-icon {
  width: auto;
  height: auto;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  background: transparent; 
}*/

/* Black fading ring */
/*.circle-icon::after {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0,0,0,0.35) 0%,
    rgba(0,0,0,0.25) 40%,
    rgba(0,0,0,0.15) 60%,
    rgba(0,0,0,0.05) 70%,
    transparent 80%
  );
  z-index: -1;
}*/
/* Backdrop */
.optionClickLayer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 5;
}
.sheet-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease;
  z-index: 1000;
}

/* Bottom sheet */
.bottom-sheet {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  min-width: 40%;
  width: min(100%, 420px);
  height: auto;
  background: #1f1f1f;
  color: #fff;
  border-radius: 16px 16px 0 0;
  padding: 10px 0;
  transition: transform .3s cubic-bezier(.4,0,.2,1);
  z-index: 1001;
  overflow-y: scroll;
  pointer-events: auto;
}

/* Open state */
.bottom-sheet.show {
  transform: translate(-50%, 0);
}

.sheet-backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

/* Handle */
.sheet-handle {
  width: 36px;
  height: 4px;
  background: #555;
  border-radius: 10px;
  margin: 8px auto 12px;
}

/* Items */
.sheet-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sheet-item:hover {
  background: rgba(255,255,255,0.06);
}

.icon {
  width: 24px;
  text-align: center;
  opacity: 0.9;
}

.menu-item,
.menu-header {
  padding: 14px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(255,255,255,0.1);
}

.menu-header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  gap: 10px;
}

.bottom-sheet .material-symbols-rounded {
  font-size: 20px;
}

.subM{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    
    background: #1f1f1f;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.subM.active{
    transform: translateX(0);
}
.subM.exit{
    transform: translateX(100%);
}

.section {
  padding: 10px 14px;
}

.menu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 6px;
  font-size: 14px;
}

.menu-row span {
  opacity: 0.85;
}
.borderbutton{
    padding: 3px;
    border: 2px solid #ff2b5f;
    border-radius: 5px;
}
.borderbutton:hover{
    background: #ff2b5f;
}

.neo-player .statLayer{
    width: 100%;
    height: auto;
    padding: 5px 0px;
    position: absolute;
    top: 0px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    /*background: linear-gradient(to bottom, rgba(0,0,0,.8), transparent);*/
    background: transparent;
    z-index: 3;
    font-size: 12px;
    opacity: 1;
}
.neo-player .statLayer.show{
    opacity: 0;
    background: transparent;
}
.neo-player .statLayer .batterylevel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.neo-player .statLayer .timeShow{
    margin-right: 10px;
}

.neo-player .statLayer .allcontrols{
    background: transparent ;
    display: block;
}
.neo-player .sheet-item .tgl{
    color: #7bff55;
}
.neo-player:has(.statLayer.show) .sheet-item .tgl{
  color: #ff2b4a;
}
.bottom-sheet .sheet-footer{
    text-align: center;
    font-size: 12px;
    color: gray;
    padding: 10px 5px;
    border-top:1px solid gray;
}

.bottom-sheet .sheet-footer span{
    font-size: 12px;
}